* {
    margin: 0;
    padding: 0;
}

html {font-family: "STHeitiSC light";
    font-size: 62.5%;
}

.box {
    width: 100%;
    min-width: 320px;
}

.header {
    color: #ffffff;
    background: #5fc0cd;
    width: 100%;
    min-width: 320px;
}

.back {
    position: absolute;
    margin-left: 4.86%;
    padding-top: 3.2%;
}

.header h1{
    font-family: "STHeitiSC light";
    width: 100%;
    min-width: 320px;
    text-align: center;
    font-size: 3.6rem;
    padding-top: 3.2%;
    padding-bottom: 3.2%;
}

.top{background-image:url(images/beijing_02.jpg);
    position: relative;
    background-size:cover;
    background-repeat: no-repeat;
    min-width: 320px;white-space: nowrap;

}


.photo {
    height: 18%;
    width: 18%;
    border-radius:9%;
    float: left;
    display: inline;
    position: relative;
    margin-top: 11%;
    left: 4.12%;

}
.box1{padding-top:16.25%;color: #ffffff;overflow: hidden;}
.name{position:relative;left:9.72%;
    font-size: 3.6rem;
}

.age{font-size: 2.8rem;position:relative;left:9.72%;

}
.box2{position:relative;padding-top:3.3%;padding-bottom: 18.1%;overflow: hidden;}
.dian { width: auto; position:relative;left:9.72%; }
.dzh {font-size: 2.4rem;color: #ffffff;position:relative;left:9.72%;}
.mbx1{width:100%;
           padding-top:2.8%;
           border-bottom:#e1e5e7 solid 1px;
           font-size:3.2rem;
           color:#000;}
.shu{vertical-align: middle;}
.main{width: 100%;}
.mbx1 span{position: relative;left: 4.2%;padding-bottom:4.8%; }
.mbx2{position:relative;left:4.6%;width:95.4%;font-size: 3.2rem;border-bottom: solid 1px #e1e5e7;overflow: hidden;
}
.zj{vertical-align: middle;position: relative;left: 3.9%;
    border-right: #e1e5e7 solid 1px;}
.hc{vertical-align: middle;position: relative;left: 3.9%;
    }
.wx{position: relative;left: 3.9%;}
.cy{position: relative;left: 3.9%;font-size: 3.2rem;color: #999999;border-right: #e1e5e7 solid 1px;}
.qx{vertical-align: middle;position: relative;left: 6.4%;}
.qh{vertical-align: middle;position: relative;left: 6.4%;color:#e26163;}
.xz{float:left;display:inline;width:54%;vertical-align: middle;font-size: 2.8rem;position: relative;left: 6.4%;color: #333333;}
.z1{position: relative;left: 3.9%;font-size: 3.2rem;color: #999999;border-right: #e1e5e7 solid 1px;float: left;}
.foot{width: 100%;min-width:320px;padding-top: 13.61%;bottom: 0;text-align: center;margin-bottom: 10%;}
.foot a{text-decoration: none;}
.foot1{float: left;background-color:transparent;font-size:3.4rem;width: 43.1%;line-height: 3.0rem;
    margin:0 3%;border-radius:7px;border: 2px solid #5fc0cd;}
.foot2{float:right;background-color:#5fc0cd;line-height:3.4rem;font-size :3.4rem;width:43.1%;border-radius: 7px;}
.foot1 a{color: #5fc0cd;
}
.foot2 a{color: #ffffff;}